.new {
	color: green;
}

@media screen and (max-width:520px) {
	.container {
		margin-top: 30px;
	}

	.bg-dark {
		background-color: transparent !important;
	}

	body {
		padding: 0;
		background-color: rgba(235, 77, 75, 0.5);
	}

	.bg-light {
		background-color: rgb(255, 255, 255) !important;
	}

	.p-5 {

		padding: 0 !important;

	}

	.m-5 {

		margin: 0 !important;

	}
}